/*
GROEN       #67ba3d
GEEL        #f8e045
ROOD        #c23b36
ORANJE      #f5a73b
PAARS       #8c468c
BLAUW       #3f8ad4
*/

html, body {
    background: url('../images/body-background.png') no-repeat center center fixed;
    background-size: cover;
    /*color: #636b6f;*/
    color:black;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 107vh;
    width:100vw;
    margin: 0;
}
a {
    color:white !important;
    font-weight:  bold !important;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    /*color: #636b6f;*/
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-sm {
    margin-bottom: 30px;
}

/* ----- CUSTOM CSS -----*/


.dashboard {
    display: block;
}

.dashboard:first-child,
.dashboard:nth-child(2) {
    margin-top:5em;
}

.dashboard a {
    height:100%;
    padding:5em;
    display:block;
    font-size:1.5em;
    margin-top:1em;
    width:auto;
    text-align:center;
}

.dashboard:first-child,
.dashboard:nth-child(2),
.dashboard:nth-child(3),
.dashboard:nth-child(4),
.dashboard:nth-child(6) {
    display: block;
}

.dashboard:first-child {
    border:0.2em solid #4F8ACE;
    background: #4F8ACE;
}

.dashboard:nth-child(2) {
    border:0.2em solid #834C88;
    background: #834C88;
}

.dashboard:nth-child(3) {
    border:0.2em solid #c23b36;
    background: #c23b36;
}

.dashboard:nth-child(4) {
    border:0.2em solid #EBA952;
    background: #EBA952;

}

.dashboard:nth-child(6) {
    border:0.2em solid #8c468c;
    background: #8c468c;
}

.btn-primary,.btn-danger {
    padding-top:1em !important;
    padding-bottom:1em !important;
    padding-right: 2em !important;
    padding-left: 2em !important;
}

.flex-center {
    margin-top:-5em;
}

.navbar-default,.retro-apple {
    border-color: #67ba3d;
    background-color: #67ba3d;
}

.dropdown-menu, #app-navbar-collapse > ul.nav.navbar-nav.navbar-right > li {
    background-color:#67ba3d;
}

img {
    max-height:7em !important;
}

.sess {
    padding-top:5em;
}

#app > div > div > div.links > a {
    color:white !important;
}

.content.homepage h2 {
    color:white !important;
}

.push{
    margin-bottom:2em;
}

label,option, .control-label {
    color:black;
}

.col-sm-6 {
    background: white;
    border-radius: 5px;
    height: 100%;
}

.block {

}

/* MEDIA QUERIES */

@media (max-width:768px) {
    html,body {
        background: white;
        background-size: 200%;
        background-repeat:no-repeat;
    }
}